<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="pubsub" packages="org.lcogt.commons.log" verbose="true">
  <Properties>
    <Property name="path">/lco/log/</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <LCOGTLayout/>
    </Console>
    <!-- Routed logger for telescope, observatory, site and instrument logs -->
    <Routing name="PubSub">
      <Routes pattern="$${ctx:path}">
        <Route>
          <RollingFile name="RollingFile" fileName="${path}${ctx:path}.log"
                       filePattern="${path}%d{yyyyMMdd}/${ctx:path}.log">
            <LCOGTLayout/>
            <Policies>
              <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
          </RollingFile>
        </Route>
      </Routes>
    </Routing>
    <!-- Op alerts -->
    <SMTP name="Mail" subject="Operations Error Report"
          to="OpAlerts@lcogt.net" from="pubsub@lcogt.net"
          smtpHost="localhost" smtpPort="25" bufferSize="3" smtpUsername="pubsub">
    </SMTP>
    <!-- This file rolls onto itself and then creates a new file each day -->
    <Routing name="EventManager">
      <Routes pattern="$${ctx:telescope}.$${ctx:observatory}">
        <Route>
          <RollingFile name="EventManager"
                       fileName="${path}event.${ctx:telescope}.${ctx:observatory}.log"
                       filePattern="${path}%d{yyyyMMdd}/event.${ctx:telescope}.${ctx:observatory}.log">
            <LCOGTLayout/>
            <Policies>
              <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
          </RollingFile>
        </Route>
      </Routes>
    </Routing>
  </Appenders>
  <Loggers>
    <asyncRoot level="info">
      <AppenderRef ref="Console"/>
    </asyncRoot>
    <asyncLogger name="org.lcogt" level="info" additivity="false">
      <AppenderRef ref="${env:LOG_APPENDER:-PubSub}"/>
    </asyncLogger>
    <asyncLogger name="EventManager" level="debug" additivity="false">
      <AppenderRef ref="EventManager"/>
    </asyncLogger>
  </Loggers>
</Configuration>
